@font-face {
    font-family: 'Signarita-Zhai-Rhianne';
    src: url('../font/Signarita-Zhai-Rhianne.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

p { 
    font-family: 'Signarita-Zhai-Rhianne';
    font-size: 2em; 
    margin: 1em; 
    padding: 0 5px;
    text-shadow:0.1em 0.1em 0.2em #000;
}