* {
    border: 1px solid #000; 
    box-sizing: border-box;
}
html, body {
    background-color: #f7f7f7;
}
/*texto base 14pt, interlineado 20.72, source sans pro, color #464646*/
body{
    font: 14pt/1.48em "Source Sans Pro", sans-serif;
    color: #464646;
}

a{
    color: #000;
    text-decoration: none;
}

h1, .h1{
    font-size: 2em;/* 28pt/14pt */
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.08em;/* 30.24pt/28pt */
}
table{
    width: 100%;
}
ul {
    margin: 0;

}

.center{
    text-align: center;
}

.list {
    list-style: none;
    padding-left: 0;
}

/*Colores*/
.txt-red{
    color: #F00;
}

.bg-blanco{
    background-color: #FFF;
}

.list-blue{
    padding-left: 20px;
}
/*Cabecera*/
.breadcrum {
    text-transform: uppercase;
    list-style: none;
    padding: 0;

}

.breadcrum .actual, .menu .actual {
    color: #f00;
}

.fcenter{
    width: 990px;
    margin: 0 auto;
    padding: 40px 0;
}
 .fleft { float: left;}
 .col-25 { width: 25%;}
 .col-50 { width: 50%;}
 .col-75 { width: 75%;}
 